#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  background-color: #211d18 !important;
}

.footer {
  margin: 20px 40px;
  color: grey;
  text-align: center;
  font-size: 12px;
}
